<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ubah Keluarga</title>
		<link rel="stylesheet" href="/css/bootstrap-grid.css"/>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
	</head>

	<body style="background-color:#BDBDBD">
   	<nav class ="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">SIDUK</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
		 data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		 <span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/penduduk/cari">Cari Penduduk</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/penduduk/tambah">Tambah Penduduk</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/keluarga/tambah">Tambah Keluarga</a>
				</li>
			
			</ul>
		</div>
	</nav>
	<div class="container">
	<br/>
	<h3 class="page-header">Ubah Keluarga</h3>
		<form th:action="'/keluarga/ubah/'+${keluarga.nomor_kk}" method="post" th:object="${keluarga}">
			<div>
				<label for="alamat">Alamat:</label>	<br/>
				 <input type="text" name="alamat" th:value="keluarga.alamat" th:field="*{alamat}"/>
			</div>
			<div>
				<label for="rt">RT:</label>	<br/>
				 <input type="text" name="rt" th:value="keluarga.alamat" th:field="*{rt}"/>
			</div>
			<div>
				<label for="rw">RW:</label>	<br/>
				 <input type="text" name="rw" th:value="keluarga.alamat" th:field="*{rw}"/>
			</div>
			<div>
				<label for="kelurahan">Kelurahan/Desa:</label> 	<br/>
				<input type="text" name="kelurahan" th:value="keluarga.alamat" th:field="*{kelurahan}"/>
			</div>
			<div>
				<label for="kecamatan">Kecamatan:</label>	<br/>
				 <input type="text" name="kecamatan" th:value="keluarga.alamat" th:field="*{kecamatan}"/>
			</div>	
			<div>
				<label for="kota">Kota:</label> 	<br/>
				<input type="text" name="kota" th:value="keluarga.alamat" th:field="*{kota}"/>
			</div>
			<br/>
			<div>
				<button type="submit">Simpan</button>
			</div>
		</form>
		</div>
	</body>
</html>

